**

!/.npmrc
!/package.json
!/yarn.lock
!/angular.json
!/ngsw-config.json
!/tsconfig.app.json
!/tsconfig.json

!/public/
!/public/**
!/src/
!/src/**

!/chart/
!/chart/**
/chart/node_modules
/chart/dist

!/docker/
!/docker/nginx.conf
